@import "common.scss";

header {
    // position: relative;
    width: 100vw;
    .header-nav{
        background-color: $green;
    img {
        width: 100px;
    }
    .header-nav-list{
        margin-right: auto;
         ul {
            // position: absolute;
            // right: 0;
            // top: 0;
            width: 100vw;
            list-style: none;
            display: flex;
            align-items: flex-end;
        }
        li {
            padding: 0 10px;
            font-size: large;
            color: $yellow;
        }
    }
    }
    img {
        width: 100vw;
    }
}
